@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400&display=swap');

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: mymove 0.6s;
    animation-timing-function: ease-in-out;

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

}

@keyframes mymove {
from {top: -100%;}
to {top: 0;}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.table{
    border: 1px #ddd solid;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    margin-left: 5%;
    width:90%;
    font-size: 25px;
    font-family: 'Radio Canada', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th,td{
    padding: 15px;
    border: 1px #e5e5e5 solid;
}
#myDIV {
    display: none;
    width: 100%;
}

body {

    overflow-x: hidden;
    font-family: 'Radio Canada', sans-serif;

}

.stranka {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
}

.vlevo {
    width: 65%;
    height: 100%;
    float: left;
}

.vpravo {
    margin-left: 35%;
    height: 100%;
}

.panel {
    text-align: center;
    margin-left: 71%;
    margin-right: 5%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.profil{

    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.profil:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.40), 0 6px 20px 0 rgba(0, 0, 0, 0.39);

}

.panel:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.40), 0 6px 20px 0 rgba(0, 0, 0, 0.39);

}

.panel div{

    padding-top: 5px;

}

.img{
    width: 50px;
    height: 50px


}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.vertical-text{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.vertical-text2{
    vertical-align: middle;
    line-height: 45px;

}

.block{
    display: block;

}

.radek:hover{

    background-color: #e5e5e5;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 2px solid #aa0000;
    color: #000000;
    text-align: center;
    font-size: 32px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #e8e5e5;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e8e5e5 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.ulol {

    list-style-type: none;
}

.lol {

    display: inline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:4px;
    background:#ff0000;
    transition: 0.2s;
    margin-top:-10px;
}

.nav-item:hover::after{width:100%;}


.nav-link{padding:15px 5px;transition:0.2s;}

.navbar-nav .nav-link {

    color:#000;
    font-weight:bold;
    font-size:18px;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .active > .nav-link{

    width:100%;
    height:51px;

    border-bottom: .25rem solid transparent;
    border-bottom-color: #ed4137;

}
a {
    text-decoration: none;
    background-color: transparent;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.text span {
    width: 75px;
    height: 75px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    transition: 0.3s;
    font-size: 30px;

}

.text span.a:hover {
    background: #db3c30
;
}
.text span.b:hover {
    background: #739857;
}


.text span.a {
    background-color: #f44336;
    color: white;
}
.text span.b {
    background-color: #90be6d;
    color: white;
}


.text a {
    display: inline-block;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
}

