<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{{@title}}</title>
    <check if="{{isset(@logo)}}">
        <true>
            <link rel="icon" href=
                    "/images/icons/{{@logo}}.png"
                  type="image/x-icon">
        </true>
    </check>

    <link rel="stylesheet" href="/public/style/style.css">


</head>

<style>
    .ulol {

        list-style-type: none;
    }

    .lol {

        display: inline;
    }

</style>

<body>


<ul style="padding:20px;margin:-10px;border:1px solid rgba(0, 0, 0, 0.2);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <li class="lol"><a style="font-size: 35px;color: black;text-decoration: none" href="/">FOOTBALLTEAMS</a></li>
    <li class="lol vertical-text2" style="float: right">
        <check if="{{isset(@SESSION.name)}}">
            <true>
                <span class="vertical-text">
                    <span style="font-size: 15px; color: grey; padding-right: 8px">Účet od: {{@SESSION.regdate}}</span>
                   <img src="/images/icons/user.png" alt="user"
                        style="height: 20px; width: 20px"><a
                        style="font-size: 20px;color: black;text-decoration: none"
                        href="/"> {{@SESSION.name}}</a><span
                        style="font-size: 28px;padding-left: 10px;padding-right: 10px">|</span><a
                        style="font-size: 20px;color: black;text-decoration: none" href="/logout">  LOGOUT</a>
                </span>
            </true>
            <false>
               <span class="vertical-text"><a style="font-size: 20px;color: black;text-decoration: none"
                                              href="/register">REGISTER  </a><span
                       style="font-size: 30px;padding-left: 8px;padding-right: 8px">|</span> <a
                       style="font-size: 20px;color: black;text-decoration: none" href="/login">  LOGIN</a>
               </span>
            </false>
        </check>
    </li>

</ul>