<h2 style="padding: 10px">INSTALACE DATABÁZE</h2>
<br>
<form style="font-size: 20px; padding: 10px" method="post">
    <label for="Nations">Nations</label>
    <input id="Nations" type="checkbox" name="Nations"><br>
    <label for="Players">Players</label>
    <input id="Players" type="checkbox" name="Players"><br>
    <label for="Uzivatele">Users</label>
    <input id="Uzivatele" type="checkbox" name="Uzivatele"><br>
    <label for="Teams">Teams</label>
    <input id="Teams" type="checkbox" name="Teams"><br>
    <label for="PlayersClean">Players Clean</label>
    <input id="PlayersClean" type="checkbox" name="PlayersClean"><br>
    <label for="Matches">Matches</label>
    <input id="Matches" type="checkbox" name="Matches"><br>
    <label for="Leagues">Leagues</label>
    <input id="Leagues" type="checkbox" name="Leagues"><br>
    <br><br><br>
    <button style="background-color: white; font-size: 20px" type="submit">INSTALOVAT</button>  
</form>
