
<style>
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .li {
        float: left;
        border-right:1px solid #f1f1f1;
    }

    .li:last-child {
        border-right: none;
    }

    .li:hover {
        background-color: #ff7373;
    }

    .li .a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

</style>

<br>

    <ul class="ul">
        <li class="active li">
            <a class="a" href="/">TEAMS</a>
        </li>
        <li class="li">
            <a class="a" href="/leagues">LEAGUES</a>
        </li>

        <li class="li">
            <a class="a" href="/admin">ADMIN</a>
        </li>
    </ul>
<br>
<repeat group="{{@teams}}" value="{{@team}}">
<ul>
    <li style="padding: 5px"><a style="color: #2A324B; text-decoration: none; font-size: 20px" href="/{{ @team.league_id }}"><b>{{ @team.fullname }}</b></a></li>
</ul>
</repeat>