<br>
<div style="margin-left:30%; margin-right: 30%; margin-top: 5%" class="profil">
    <div>
        <div align="center" style="font-size: 35px;padding: 15px">PROFIL</div>
    </div>
    <table  style="border: none;text-align: left; padding: 5%">
        <tr>
            <td>NICKNAME:</td>
            <td>{{@SESSION.name}}</td>
        </tr>
        <tr>
            <td>EMAIL:</td>
            <td>-</td>
        </tr>
        <tr>
            <td>ID:</td>
            <td>{{@SESSION.id}}</td>
        </tr>
        <tr>
            <td>ACCOUNT DATE</td>
            <td>{{@SESSION.regdate}}</td>
        </tr>


    </table>
    <p>Upravit design; přidat ban, email; zlepšit profil; přidat fotku; změna hesla, mailu, přezdívky; nDělat spíše template profilu</p>
</div>

