<style>
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .li {
        float: left;
        border-right:1px solid #f1f1f1;
    }

    .li:last-child {
        border-right: none;
    }

    .li:hover {
        background-color: #ff7373;
    }

    .li .a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

</style>


<br>
<h1 style="text-align: center">STATS</h1>
<div class="center">
    <div style="padding: 10px">
        <div class="numberCircle">{{@zapasycelkem}}</div>
        <div style="text-align:center">MATCHES</div>
    </div>
    <div style="padding: 10px">
        <div class="numberCircle"><b>{{@golycelkem}}</b></div>
        <div style="text-align:center"><b>GOALS</b></div>
    </div>
    <div style="padding: 10px">
        <div class="numberCircle">{{@asistcelkem}}</div>
        <div style="text-align:center">ASISTS</div>
    </div>
    <div style="padding: 10px">
        <div class="numberCircle">{{@zkcelkem}}</div>
        <div style="text-align:center">YELLOWS</div>
    </div>
    <div style="padding: 10px">
        <div class="numberCircle">{{@ckcelkem}}</div>
        <div style="text-align:center">REDS</div>
    </div>
    <div style="padding: 10px">
        <div class="numberCircle">{{@valuecelkem}}</div>
        <div style="text-align:center">VALUE</div>
    </div>
</div>
<br>
<br>
<div class="center">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="background-color:red">Střelci</th>
                <th style="background-color:red"><img title="Góly" alt="Goals" style="width:32px; height:32px" src="/images/Goal2.png"/></th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@strelci}}" value="{{@strelec}}">
                <tr>
                    <td style="width: 250px">{{@strelec.name}} {{@strelec.surname}}</td>
                    <td>{{@strelec.Goly}}</td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="background-color:red">Nahravači</th>
                <th style="background-color:red"><img title="Asistence" alt="Asist" style="width:32px; height:32px" src="/images/Asist.png"/></th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@asistence}}" value="{{@asistent}}">
                <tr>
                    <td style="width: 250px">{{@asistent.name}} {{@asistent.surname}}</td>
                    <td>{{@asistent.Asistence}}</td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="background-color:red">Trestanci</th>
                <th style="background-color:red"><img title="Žluté karty" alt="Yellow Card" style="width:32px; height:32px" src="/images/yellow-card.png"/></th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@zlutekarty}}" value="{{@zlutekarta}}">
                <tr>
                    <td style="width: 250px">{{@zlutekarta.name}} {{@zlutekarta.surname}}</td>
                    <td>{{@zlutekarta.ZK}}</td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>

<ul class="ul">
    <li class="li"><a class="a" href="/squad/{{ @teamid }}">Sestava</a></li>
    <li class="li"><a class="a" href="/match/{{ @teamid }}">Zápas</a></li>
    <li class="li"><a class="a" href="/settings/slaviapraha">Nastavení</a></li>
</ul>

<br>
<br>
<include href="soupiska.html"/>
<include href="zapasymenu.html"/>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    $(".upravit").click(function () {
            var id = $(this).parent().parent().attr('data-name');
            window.location.href = window.location.origin + "/slaviapraha/" + id + "/upravithrace";
        }
    )
    $(".upravitzapas").click(function () {
            var id = $(this).parent().attr('data-name');
            window.location.href = window.location.origin + "/slaviapraha/" + id + "/upravitzapas";
        }
    )
</script>

<script>

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    var dan = true;


    async function wait() {

        await sleep(300);

        dan = true;

    }

    async function zobrazakci(id) {

        if (dan === true) {
            dan = false;

            await sleep(500);
            dan = true;
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                document.getElementById("image" + id).src = "/images/ArUp.png";
                $(".ahoj" + id).slideToggle()("fast");
            } else {
                document.getElementById("image" + id).src = "/images/ArDown.png";
                $(".ahoj" + id).slideToggle()("fast");
            }

        }

    }

    $(document).ready(function () {
        var max_fields = 20;
        var wrapper = $(".container1");
        var add_button = $(".add_form_field");

        var x = 1;
        $(add_button).click(function (e) {
            e.preventDefault();
            if (x < max_fields) {
                x++;
                $(wrapper).append('<div class="vertical-center" ><input type="text" style="font-size: 16px" size="25" name="GOLY[]"/> <a href="#" style="user-select: none;" class="delete ikona"><img alt="add" class="ikona" style="width: 20px; height: 20px" src="/images/minus.png"></a></div>'); //add input box
            }
        });

        $(wrapper).on("click", ".delete", function (e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })
    });

    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");

    var modale = document.getElementById("Modal");
    var btne = document.getElementById("Btn");

    btn.onclick = function () {
        modal.style.display = "block";
    }

    btne.onclick = function () {
        modale.style.display = "block";
    }

    window.onclick = function (event) {
        if (event.target === modale) {
            modale.style.display = "none";
        }
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

</script>