<div class="stranka">
    <div class="vlevo">
        <h1 align="center">SOUPISKA</h1>
        <check if="{{@SESSION.role}}=='2'">
            <true>
        <a id="myBtn" style="margin-left: 5%"><img alt="settings" class="img"
                                                   title="Přidat hráče"
                                                   src="/images/AddPlayer.png"></a>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content" align="center">
                <h2 align="center">PŘIDAT HRÁČE</h2>
                <form method="POST">
                    <input type="text" required name="numberdress" placeholder="#" size="5">  
                    <input type="text" required name="name" placeholder="Jméno" size="25">  
                    <input type="text" required name="surname" placeholder="Přijmení" size="25">  
                    <br><br>
                    <input type="text" required name="value" placeholder="Hodnota" size="10">  
                    <select name="nation">
                        <optgroup label="DEFAULT">
                            <option value="default">Národnost</option>
                        </optgroup>
                        <optgroup label="OPTIONS">
                            <option value="Czech">Česko</option>
                            <option value="Slovak">Slovensko</option>
                            <option value="Bahrain">Bahrajn</option>
                            <option value="Denmark">Dánsko</option>
                            <option value="IvoryCoast">Pobřeží Slonoviny</option>
                            <option value="Liberia">Libérie</option>
                            <option value="Netherlands">Nizozemsko</option>
                            <option value="Niggeria">Nigérie</option>
                            <option value="Romania">Rumunsko</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Ukraine">Ukrajina</option>
                            <option value="Croatia">Chorvatsko</option>
                            <option value="Sweden">Švédsko</option>
                            <option value="Serbia">Srbsko</option>
                        </optgroup>
                    </select>  
                    <select name="position">
                        <optgroup label="DEFAULT">
                            <option value="default">Pozice</option>
                        </optgroup>
                        <optgroup label="OPTIONS">
                            <option value="BR">Brankář</option>
                            <option value="OB">Obránce</option>
                            <option value="ZA">Záložník</option>
                            <option value="UT">Útočník</option>
                        </optgroup>
                    </select>  
                    <select name="state">
                        <optgroup label="DEFAULT">
                            <option value="stayed">Stávající</option>
                        </optgroup>
                        <optgroup label="PŘÍCHOD">
                            <option value="hostarrival">Hostování</option>
                            <option value="navhostarrival">Návrat z hostování</option>
                            <option value="arrival">Přestup</option>
                        </optgroup>
                        <optgroup label="ODCHOD">
                            <option value="hostdeparture">Hostování</option>
                            <option value="departure">Přestup</option>
                        </optgroup>
                    </select>  
                    <br><br><br>
                    <button style="width: 150px" type="submit"><strong>PŘIDAT</strong></button>
                </form>
            </div>
        </div>
            </true>
        </check>

        <br><br><br>


        <h1 style="margin-left: 5%">BRANKÁŘI</h1>

        <table class="table">
            <thead>
            <tr>
                <th><strong>#</strong></th>
                <th style="width: 300px"><strong>Jméno</strong></th>
                <th></th>
                <th><strong>Národ</strong></th>
                <th><img alt="Matches" style="width:30px;height:30px" title="Zápasy" src="/images/Dress.png"></th>
                <th><img alt="Goals" style="width:30px;height:30px" title="Góly" src="/images/Ball.png"></th>
                <th><img alt="Asists" style="width:30px;height:30px" title="Asistence" src="/images/Asist.png"></th>
                <th><img alt="Yellows" style="width:28px;height:28px" title="Žluté karty" src="/images/yellow-card.png">
                </th>
                <th><img alt="Reds" style="width:28px;height:28px" title="Červené Karty" src="/images/red-card.png">
                </th>
                <th><img alt="Reds" style="width:30px;height:30px" title="Hodnota v €" src="/images/money.png"></th>
                <check if="{{@SESSION.role}}=='2'">
                    <true>
                <th><img alt="Settings" style="width:30px;height:30px" title="Nastavení" src="/images/settings.png">
                </th>
                    </true>
                </check>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@brankari}}" value="{{@hrac}}">
                <tr class="radek" data-name="{{@hrac.id}}">
                    <td>{{@hrac.numberdress}}</td>
                    <check if="{{@hrac.state}}=='arrival'">
                        <true>
                            <td style="vertical-align: middle">
                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img alt="new"
                                                                                                     title="Nový hráč"
                                                                                                     style="width: 32px; height: 32px"
                                                                                                     src="/images/new.png">
                                </div>
                            </td>
                        </true>
                        <false>
                            <check if="{{@hrac.state}}=='hostarrival'">
                                <true>
                                    <td style="vertical-align: middle">
                                        <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                alt="handshake"
                                                title="Hostování"
                                                style="width: 32px; height: 32px"
                                                src="/images/handshake.png">
                                        </div>
                                    </td>
                                </true>
                                <false>
                                    <check if="{{@hrac.state}}=='navhostarrival'">
                                        <true>
                                            <td style="vertical-align: middle">
                                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                        alt="handshake"
                                                        title="Návrat z hostování"
                                                        style="width: 32px; height: 32px"
                                                        src="/images/navhost.png">
                                                </div>
                                            </td>
                                        </true>
                                        <false>
                                            <td>{{@hrac.name}} {{@hrac.surname}}</td>
                                        </false>
                                    </check>
                                </false>
                            </check>
                        </false>
                    </check>
                    <check if="{{@hrac.Zranen}}=='1'">
                        <true>
                            <td><img style="width: 24px;height: 24px" title="Zranění" src="/images/zranen.png"></td>
                        </true>
                        <false>
                            <td style="width: 24px;height: 24px"></td>
                        </false>
                    </check>
                    <td><img style="width: 40px;height: 25px" title="{{@hrac.nation}}"
                             src="/images/flags/{{@hrac.nation}}.png"></td>
                    <check if="{{@hrac.matches}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.matches}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.matches}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.goals}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.goals}}</td>
                        </true>
                        <false>
                            <td><b>{{@hrac.goals}}</b></td>
                        </false>
                    </check>
                    <check if="{{@hrac.assists}}=='0'">
                        <true>
                            <td style="color: rgb(128,128,128)">{{@hrac.assists}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.assists}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.yellows}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.yellows}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.yellows}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.reds}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.reds}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.reds}}</td>
                        </false>
                    </check>
                    <td>{{@hrac.value}}</td>
                    <check if="{{@SESSION.role}}=='2'">
                        <true>
                            <td>
                                <a style="user-select: all; cursor:pointer" class="upravit"><img alt="edit"
                                                                                                 style="width: 28px;height:28px"
                                                                                                 src="/images/edit.png"
                                                                                                 title="Upravit"></a>
                            </td>
                        </true>
                    </check>
                </tr>
            </repeat>
            </tbody>
        </table>
        <br><br><br>


        <h1 style="margin-left: 5%">OBRÁNCI</h1>

        <table class="table">
            <thead>
            <tr>
                <th><strong>#</strong></th>
                <th style="width: 300px"><strong>Jméno</strong></th>
                <th></th>
                <th><strong>Národ</strong></th>
                <th><img alt="Matches" style="width:30px;height:30px" title="Zápasy" src="/images/Dress.png"></th>
                <th><img alt="Goals" style="width:30px;height:30px" title="Góly" src="/images/Ball.png"></th>
                <th><img alt="Asists" style="width:30px;height:30px" title="Asistence" src="/images/Asist.png"></th>
                <th><img alt="Yellows" style="width:28px;height:28px" title="Žluté karty" src="/images/yellow-card.png">
                </th>
                <th><img alt="Reds" style="width:28px;height:28px" title="Červené Karty" src="/images/red-card.png">
                </th>
                <th><img alt="Reds" style="width:30px;height:30px" title="Hodnota v €" src="/images/money.png"></th>
                <check if="{{@SESSION.role}}=='2'">
                    <true>
                        <th><img alt="Settings" style="width:30px;height:30px" title="Nastavení" src="/images/settings.png">
                        </th>
                    </true>
                </check>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@obranci}}" value="{{@hrac}}">
                <tr class="radek" data-name="{{@hrac.id}}">
                    <td>{{@hrac.numberdress}}</td>
                    <check if="{{@hrac.state}}=='arrival'">
                        <true>
                            <td style="vertical-align: middle">
                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img alt="new"
                                                                                                     style="width: 32px; height: 32px"
                                                                                                     title="Nový hráč"
                                                                                                     src="/images/new.png">
                                </div>
                            </td>
                        </true>
                        <false>
                            <check if="{{@hrac.state}}=='hostarrival'">
                                <true>
                                    <td style="vertical-align: middle">
                                        <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                alt="handshake"
                                                title="Hostování"
                                                style="width: 32px; height: 32px"
                                                src="/images/handshake.png">
                                        </div>
                                    </td>
                                </true>
                                <false>

                                    <check if="{{@hrac.state}}=='navhostarrival'">
                                        <true>
                                            <td style="vertical-align: middle">
                                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                        alt="handshake"
                                                        title="Návrat z hostování"
                                                        style="width: 32px; height: 32px"
                                                        src="/images/navhost.png">
                                                </div>
                                            </td>
                                        </true>
                                        <false>
                                            <td>{{@hrac.name}} {{@hrac.surname}}</td>
                                        </false>
                                    </check>
                                </false>
                            </check>
                        </false>
                    </check>
                    <check if="{{@hrac.Zranen}}=='1'">
                        <true>
                            <td><img style="width: 24px;height: 24px" title="Zranění" src="/images/zranen.png"></td>
                        </true>
                        <false>
                            <td style="width: 24px;height: 24px"></td>
                        </false>
                    </check>
                    <td><img style="width: 40px;height: 25px" title="{{@hrac.nation}}"
                             src="/images/flags/{{@hrac.nation}}.png"></td>
                    <check if="{{@hrac.matches}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.matches}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.matches}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.goals}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.goals}}</td>
                        </true>
                        <false>
                            <td><b>{{@hrac.goals}}</b></td>
                        </false>
                    </check>
                    <check if="{{@hrac.assists}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.assists}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.assists}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.yellowss}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.yellows}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.yellows}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.reds}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.reds}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.reds}}</td>
                        </false>
                    </check>
                    <td>{{@hrac.value}}</td>
                    <check if="{{@SESSION.role}}=='2'">
                        <true>
                            <td>
                                <a style="user-select: all; cursor:pointer" class="upravit"><img alt="edit"
                                                                                                 style="width: 28px;height:28px"
                                                                                                 src="/images/edit.png"
                                                                                                 title="Upravit"></a>
                            </td>
                        </true>
                    </check>
                </tr>
            </repeat>
            </tbody>
        </table>
        <br><br><br>


        <h1 style="margin-left: 5%">ZÁLOŽNÍCI</h1>

        <table class="table">
            <thead>
            <tr>
                <th><strong>#</strong></th>
                <th style="width: 300px"><strong>Jméno</strong></th>
                <th></th>
                <th><strong>Národ</strong></th>
                <th><img alt="Matches" style="width:30px;height:30px" title="Zápasy" src="/images/Dress.png"></th>
                <th><img alt="Goals" style="width:30px;height:30px" title="Góly" src="/images/Ball.png"></th>
                <th><img alt="Asists" style="width:30px;height:30px" title="Asistence" src="/images/Asist.png"></th>
                <th><img alt="Yellows" style="width:28px;height:28px" title="Žluté karty" src="/images/yellow-card.png">
                </th>
                <th><img alt="Reds" style="width:28px;height:28px" title="Červené Karty" src="/images/red-card.png">
                </th>
                <th><img alt="Reds" style="width:30px;height:30px" title="Hodnota v €" src="/images/money.png"></th>
                <check if="{{@SESSION.role}}=='2'">
                    <true>
                        <th><img alt="Settings" style="width:30px;height:30px" title="Nastavení" src="/images/settings.png">
                        </th>
                    </true>
                </check>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@zaloznici}}" value="{{@hrac}}">
                <tr class="radek" data-name="{{@hrac.id}}">
                    <td>{{@hrac.numberdress}}</td>
                    <check if="{{@hrac.state}}=='arrival'">
                        <true>
                            <td>
                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img alt="new"
                                                                                                     title="Nový hráč"
                                                                                                     style="width: 32px; height: 32px"
                                                                                                     src="/images/new.png">
                                </div>
                            </td>
                        </true>
                        <false>
                            <check if="{{@hrac.state}}=='hostarrival'">
                                <true>
                                    <td style="vertical-align: middle">
                                        <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                alt="handshake"
                                                title="Hostování"
                                                style="width: 32px; height: 32px"
                                                src="/images/handshake.png">
                                        </div>
                                    </td>
                                </true>
                                <false>

                                    <check if="{{@hrac.state}}=='navhostarrival'">
                                        <true>
                                            <td style="vertical-align: middle">
                                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                        alt="handshake"
                                                        title="Návrat z hostování"
                                                        style="width: 32px; height: 32px"
                                                        src="/images/navhost.png">
                                                </div>
                                            </td>
                                        </true>
                                        <false>
                                            <td>{{@hrac.name}} {{@hrac.surname}}</td>
                                        </false>
                                    </check>
                                </false>
                            </check>
                        </false>
                    </check>
                    <check if="{{@hrac.Zranen}}=='1'">
                        <true>
                            <td><img style="width: 24px;height: 24px" title="Zranění" src="/images/zranen.png"></td>
                        </true>
                        <false>
                            <td style="width: 24px;height: 24px"></td>
                        </false>
                    </check>
                    <td><img style="width: 40px;height: 25px" title="{{@hrac.nation}}"
                             src="/images/flags/{{@hrac.nation}}.png"></td>
                    <check if="{{@hrac.matches}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.matches}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.matches}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.goals}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.goals}}</td>
                        </true>
                        <false>
                            <td><b>{{@hrac.goals}}</b></td>
                        </false>
                    </check>
                    <check if="{{@hrac.assists}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.assists}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.assists}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.yellows}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.yellows}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.yellows}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.reds}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.reds}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.reds}}</td>
                        </false>
                    </check>
                    <td>{{@hrac.value}}</td>
                    <check if="{{@SESSION.role}}=='2'">
                        <true>
                            <td>
                                <a style="user-select: all; cursor:pointer" class="upravit"><img alt="edit"
                                                                                                 style="width: 28px;height:28px"
                                                                                                 src="/images/edit.png"
                                                                                                 title="Upravit"></a>
                            </td>
                        </true>
                    </check>
                </tr>
            </repeat>
            </tbody>
        </table>
        <br><br><br>


        <h1 style="margin-left: 5%">ÚTOČNÍCI</h1>

        <table class="table">
            <thead>
            <tr>
                <th><strong>#</strong></th>
                <th style="width: 300px"><strong>Jméno</strong></th>
                <th></th>
                <th><strong>Národ</strong></th>
                <th><img alt="Matches" style="width:30px;height:30px" title="Zápasy" src="/images/Dress.png"></th>
                <th><img alt="Goals" style="width:30px;height:30px" title="Góly" src="/images/Ball.png"></th>
                <th><img alt="Asists" style="width:30px;height:30px" title="Asistence" src="/images/Asist.png"></th>
                <th><img alt="Yellows" style="width:28px;height:28px" title="Žluté karty" src="/images/yellow-card.png">
                </th>
                <th><img alt="Reds" style="width:28px;height:28px" title="Červené Karty" src="/images/red-card.png">
                </th>
                <th><img alt="Reds" style="width:30px;height:30px" title="Hodnota v €" src="/images/money.png"></th>
                <check if="{{@SESSION.role}}=='2'">
                    <true>
                        <th><img alt="Settings" style="width:30px;height:30px" title="Nastavení"
                                 src="/images/settings.png"></th>
                    </true>
                </check>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@utocnici}}" value="{{@hrac}}">
                <tr class="radek" data-name="{{@hrac.id}}">
                    <td>{{@hrac.numberdress}}</td>
                    <check if="{{@hrac.state}}=='arrival'">
                        <true>
                            <td style="vertical-align: middle">
                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img alt="new"
                                                                                                     style="width: 32px; height: 32px"
                                                                                                     title="Nový hráč"
                                                                                                     src="/images/new.png">
                                </div>
                            </td>
                        </true>
                        <false>
                            <check if="{{@hrac.state}}=='hostarrival'">
                                <true>
                                    <td style="vertical-align: middle">
                                        <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                alt="handshake"
                                                title="Hostování"
                                                style="width: 32px; height: 32px"
                                                src="/images/handshake.png">
                                        </div>
                                    </td>
                                </true>
                                <false>

                                    <check if="{{@hrac.state}}=='navhostarrival'">
                                        <true>
                                            <td style="vertical-align: middle">
                                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                        alt="handshake"
                                                        title="Návrat z hostování"
                                                        style="width: 32px; height: 32px"
                                                        src="/images/navhost.png">
                                                </div>
                                            </td>
                                        </true>
                                        <false>
                                            <td>{{@hrac.name}} {{@hrac.surname}}</td>
                                        </false>
                                    </check>
                                </false>
                            </check>
                        </false>
                    </check>
                    <check if="{{@hrac.Zranen}}=='1'">
                        <true>
                            <td><img style="width: 24px;height: 24px" title="Zranění" src="/images/zranen.png"></td>
                        </true>
                        <false>
                            <td style="width: 24px;height: 24px"></td>
                        </false>
                    </check>
                    <td><img style="width: 40px;height: 25px" title="{{@hrac.nation}}"
                             src="/images/flags/{{@hrac.nation}}.png"></td>
                    <check if="{{@hrac.matches}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.matches}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.matches}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.goals}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.goals}}</td>
                        </true>
                        <false>
                            <td><b>{{@hrac.goals}}</b></td>
                        </false>
                    </check>
                    <check if="{{@hrac.assists}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.assists}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.assists}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.yellows}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.yellows}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.yellows}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.reds}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.reds}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.reds}}</td>
                        </false>
                    </check>
                    <td>{{@hrac.value}}</td>
                    <check if="{{@SESSION.role}}=='2'">
                        <true>
                            <td>
                                <a style="user-select: all; cursor:pointer" class="upravit"><img alt="edit"
                                                                                                 style="width: 28px;height:28px"
                                                                                                 src="/images/edit.png"
                                                                                                 title="Upravit"></a>
                            </td>
                        </true>
                    </check>
                </tr>
            </repeat>
            </tbody>
        </table>
        <br><br><br>

        <h1 style="margin-left: 5%">Nezařazený</h1>

        <table class="table">
            <thead>
            <tr>
                <th><strong>#</strong></th>
                <th style="width: 300px"><strong>Jméno</strong></th>
                <th></th>
                <th><strong>Národ</strong></th>
                <th><img alt="Matches" style="width:30px;height:30px" title="Zápasy" src="/images/Dress.png"></th>
                <th><img alt="Goals" style="width:30px;height:30px" title="Góly" src="/images/Ball.png"></th>
                <th><img alt="Asists" style="width:30px;height:30px" title="Asistence" src="/images/Asist.png"></th>
                <th><img alt="Yellows" style="width:28px;height:28px" title="Žluté karty" src="/images/yellow-card.png">
                </th>
                <th><img alt="Reds" style="width:28px;height:28px" title="Červené Karty" src="/images/red-card.png">
                </th>
                <th><img alt="Reds" style="width:30px;height:30px" title="Hodnota v €" src="/images/money.png"></th>
                <check if="{{@SESSION.role}}=='2'">
                    <true>
                        <th><img alt="Settings" style="width:30px;height:30px" title="Nastavení" src="/images/settings.png">
                        </th>
                    </true>
                </check>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@nazarazeny}}" value="{{@hrac}}">
                <tr class="radek" data-name="{{@hrac.id}}">
                    <td>{{@hrac.numberdress}}</td>
                    <check if="{{@hrac.state}}=='departure'">
                        <true>
                            <td style="vertical-align: middle">
                                <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img alt="quit"
                                                                                                     style="width: 30px; height: 30px"
                                                                                                     title="Odchod"
                                                                                                     src="/images/quit.png">
                                </div>
                            </td>
                        </true>
                        <false>
                            <check if="{{@hrac.state}}=='hostdeparture'">
                                <true>
                                    <td style="vertical-align: middle">
                                        <div class="vertical-center">{{@hrac.name}} {{@hrac.surname}} <img
                                                alt="back"
                                                title="Hostování"
                                                style="width: 30px; height: 30px"
                                                src="/images/back.png">
                                        </div>
                                    </td>
                                </true>

                                <false>
                                    <td>{{@hrac.name}} {{@hrac.surname}}</td>
                                </false>
                            </check>
                        </false>
                    </check>
                    <check if="{{@hrac.Zranen}}=='1'">
                        <true>
                            <td><img style="width: 24px;height: 24px" title="Zranění" src="/images/zranen.png"></td>
                        </true>
                        <false>
                            <td style="width: 24px;height: 24px"></td>
                        </false>
                    </check>
                    <td><img style="width: 40px;height: 25px" title="{{@hrac.nation}}"
                             src="/images/flags/{{@hrac.nation}}.png"></td>
                    <check if="{{@hrac.matches}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.matches}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.matches}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.goals}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.goals}}</td>
                        </true>
                        <false>
                            <td><b>{{@hrac.goals}}</b></td>
                        </false>
                    </check>
                    <check if="{{@hrac.assists}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.assists}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.assists}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.yellows}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.yellows}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.yellows}}</td>
                        </false>
                    </check>
                    <check if="{{@hrac.reds}}=='0'">
                        <true>
                            <td style="color: gray">{{@hrac.reds}}</td>
                        </true>
                        <false>
                            <td>{{@hrac.reds}}</td>
                        </false>
                    </check>
                    <td>{{@hrac.value}}</td>
                    <check if="{{@SESSION.role}}=='2'">
                        <true>
                            <td>
                                <a style="user-select: all; cursor:pointer" class="upravit"><img alt="edit"
                                                                                                 style="width: 28px;height:28px"
                                                                                                 src="/images/edit.png"
                                                                                                 title="Upravit"></a>
                            </td>
                        </true>
                    </check>
                </tr>
            </repeat>
            </tbody>
        </table>
        <br><br><br>

    </div>