<div style="padding: 5px; text-align:center;font-size:30px">
    <p>Uprava hráče</p>
</div>
<form style="font-size: 20px; padding: 10px; text-align:center" method="post">

    <input type="hidden" name="id" value="{{@hrac.id}}">
    <span style="font-size:25px"><strong>{{@hrac.name}} {{@hrac.surname}}</strong></span><br><br>
    <label for="cislodresu">#</label>
    <input id="cislodresu" type="text" name="numberdress" size="5" value="{{@hrac.numberdress}}"> 
    <label for="Hodnota">Hodnota</label>
    <input id="Hodnota" type="text" name="value" size="10" value="{{@hrac.value}}"> 
    <check if="{{@hrac.Zranen}}=='1'">
        <true>
            <label for="Zranen">Zraněn</label>
            <input checked type="checkbox" id="Zranen" name="Zranen"> 
        </true>
        <false>
            <label for="Zranen">Zraněn</label>
            <input type="checkbox" id="Zranen" name="Zranen"> 
        </false>


    </check>
    <label>Stav</label>
    <select name="state">

        <check if="{{@hrac.state}}=='Standing'">
            <true>
                <optgroup label="DEFAULT">
                    <option selected value="Standing">Stávající</option>
                </optgroup>
                <optgroup label="PŘÍCHOD">
                    <option value="hostarrival">Hostování</option>
                    <option value="navhostarrival">Návrat z hostování</option>
                    <option value="arrival">Přestup</option>
                </optgroup>
                <optgroup label="ODCHOD">
                    <option value="hostdeparture">Hostování</option>
                    <option value="departure">Přestup</option>
                </optgroup>
            </true>
            <false>

                <check if="{{@hrac.state}}=='hostarrival'">
                    <true>
                        <optgroup label="DEFAULT">
                            <option value="stayed">Stávající</option>
                        </optgroup>
                        <optgroup label="PŘÍCHOD">
                            <option selected value="hostarrival">Hostování</option>
                            <option value="navhostarrival">Návrat z hostování</option>
                            <option value="arrival">Přestup</option>
                        </optgroup>
                        <optgroup label="ODCHOD">
                            <option value="hostdeparture">Hostování</option>
                            <option value="departure">Přestup</option>
                        </optgroup>
                    </true>
                    <false>
                        <check if="{{@hrac.state}}=='arrival'">
                            <true>
                                <optgroup label="DEFAULT">
                                    <option value="stayed">Stávající</option>
                                </optgroup>
                                <optgroup label="PŘÍCHOD">
                                    <option value="hostarrival">Hostování</option>
                                    <option value="navhostarrival">Návrat z hostování</option>
                                    <option selected value="arrival">Přestup</option>
                                </optgroup>
                                <optgroup label="ODCHOD">
                                    <option value="hostdeparture">Hostování</option>
                                    <option value="departure">Přestup</option>
                                </optgroup>
                            </true>
                            <false>
                                <check if="{{@hrac.state}}=='hostdeparture'">
                                    <true>
                                        <optgroup label="DEFAULT">
                                            <option value="stayed">Stávající</option>
                                        </optgroup>
                                        <optgroup label="PŘÍCHOD">
                                            <option value="hostarrival">Hostování</option>
                                            <option value="navhostarrival">Návrat z hostování</option>
                                            <option value="arrival">Přestup</option>
                                        </optgroup>
                                        <optgroup label="ODCHOD">
                                            <option selected value="hostdeparture">Hostování</option>
                                            <option value="departure">Přestup</option>
                                        </optgroup>
                                    </true>
                                    <false>
                                        <check if="{{@hrac.state}}=='departure'">
                                            <true>
                                                <optgroup label="DEFAULT">
                                                    <option value="stayed">Stávající</option>
                                                </optgroup>
                                                <optgroup label="PŘÍCHOD">
                                                    <option value="hostarrival">Hostování</option>
                                                    <option value="navhostarrival">Návrat z hostování</option>
                                                    <option value="arrival">Přestup</option>
                                                </optgroup>
                                                <optgroup label="ODCHOD">
                                                    <option value="hostdeparture">Hostování</option>
                                                    <option selected value="departure">Přestup</option>
                                                </optgroup>
                                            </true>
                                            <false>
                                                <check if="{{@hrac.state}}=='navhostarrival'">
                                                    <true>
                                                        <optgroup label="DEFAULT">
                                                            <option value="stayed">Stávající</option>
                                                        </optgroup>
                                                        <optgroup label="PŘÍCHOD">
                                                            <option value="hostarrival">Hostování</option>
                                                            <option selected value="navhostarrival">Návrat z hostování
                                                            </option>
                                                            <option value="arrival">Přestup</option>
                                                        </optgroup>
                                                        <optgroup label="ODCHOD">
                                                            <option value="hostdeparture">Hostování</option>
                                                            <option value="departure">Přestup</option>
                                                        </optgroup>
                                                    </true>
                                                    <false>
                                                        <optgroup label="DEFAULT">
                                                            <option selected value="error">ERROR</option>
                                                            <option value="stayed">Stávající</option>
                                                        </optgroup>
                                                        <optgroup label="PŘÍCHOD">
                                                            <option value="hostarrival">Hostování</option>
                                                            <option value="navhostarrival">Návrat z hostování</option>
                                                            <option value="arrival">Přestup</option>
                                                        </optgroup>
                                                        <optgroup label="ODCHOD">
                                                            <option value="hostdeparture">Hostování</option>
                                                            <option value="departure">Přestup</option>
                                                        </optgroup>
                                                    </false>
                                                </check>
                                            </false>
                                        </check>
                                    </false>
                                </check>
                            </false>
                        </check>
                    </false>
                </check>
            </false>
        </check>
    </select> 
    <br><br>

    <label for="Zapasy">Zápasy</label>
    <input type="number" id="Zapasy" style="font-size: 20px" name="matches" value="{{@hrac.matches}}"> 
    <label for="Goly">Góly</label>
    <input type="number" id="Goly" name="Goly" value="{{@hrac.goals}}"> 
    <label for="Asistence">Asistence</label>
    <input type="number" id="Asistence" name="assists" value="{{@hrac.assists}}"> 
    <label for="ZK">ŽK</label>
    <input type="number" id="ZK" name="yellows" value="{{@hrac.yellows}}"> 
    <label for="CK">ČK</label>
    <input type="number" id="CK" name="reds" value="{{@hrac.reds}}"> 

    <br><br>
    <button style="background-color: white; font-size: 20px" type="submit">UPRAVIT</button>
</form>